#titulo1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
    
}
#titulo1:hover {
    color: rgb(138, 58, 184);
    transform-style: unset;
    transition-duration: 1s;
    transform-origin: 150%;
    font-size: 40px;
    font-family: monospace;
    
    }
    div{
        background-color: rgba(230, 230, 230, 0.87);
        width: 800px;
        text-align: center;    
        margin-right: 30%;
        margin-left: 10%;
        height: 2900px;
        font-style:oblique;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 19px; 
            }
.linkcesio{
    text-decoration: none;
    color: white;
}
.linkcesio:hover{
color: rgba(89, 255, 247, 0.815);
}
#imagemferrovelho{
    width: 300px;
    height: 200px ;
    float: left;
    padding-top: 9%;
    padding-left: 5%;
    margin-right: 2%;
}
#texto{
    padding-top: 10%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    
}
body{
    background-color: rgb(108, 196, 184);
    margin: 0px;
    }
    
        #insta:hover{
        
            color: fuchsia;
        }
        #insta{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
#rodape{
    margin-right: 0%;
        margin-left: 0%;
        background-color: rgb(125, 183, 238);
        height: 100px;
        padding-top: 10px;
}
#imagemferrovelho2{
    width: 300px;
    height: 200px ;
    float: left;
    padding-top: 9%;
    padding-left: 5%;
    margin-right: 2%;
    float: right;
    padding-bottom: 50px;
}
#imagemferrovelho3{
    width: 300px;
    height: 200px ;
    float: left;
    padding-top: 9%;
    padding-left: 5%;
    margin-right: 2%;
    float: left;
    padding-top: 50px;
}
iframe{
    padding-bottom: 100px;
    
}